---
import GenericLayout from "../components/GenericLayout.astro";
import WorkspaceLayout from "../components/WorkspaceLayout.astro";


---

<GenericLayout>
	<WorkspaceLayout>
		<h1>hi</h1>
	</WorkspaceLayout>
</GenericLayout>