---
import { DownloadIcon } from "@heroicons/react/outline/esm";
import { PlusCircleIcon } from "@heroicons/react/solid";
import { GetAllWorkspaces, GetUser } from "../../utils/user";
import GenericLayout from "../components/GenericLayout.astro";
import WorkspaceLayout from "../components/WorkspaceLayout.astro";

const user = await GetUser(import.meta.env, Astro);

if (!user) {
  return Astro.redirect(
    `${import.meta.env.PUBLIC_AUTH_URL}/?redirect=${Astro.canonicalURL}`
  );
}
---

<GenericLayout>
  <WorkspaceLayout sidebar={{ showLogo: true }}>
    <div class="grid w-full grid-cols-2 gap-3 lg:grid-cols-3 md:grid-cols-2">
      <div class="col-span-full">
        <div class="flex justify-between w-full">
          <div>
            <h1 class="flex w-full gap-2 text-3xl font-bold">
              User Settings
            </h1><p
              class="text-lg font-semibold text-gray-800 dark:text-gray-300"
            >
              Manage your user settings here
            </p>
          </div>
          <div class="flex items-center h-full">
            <form
              action={`${import.meta.env.PUBLIC_API_ENDPOINT}/api/v1/auth/gdpr`}
            >
              <button
                type="submit"
                class="flex px-3 py-2 font-bold rounded-md gap-x-2 bg-pink"
              >
                <DownloadIcon className="w-6 h-6" />
                Request Data
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </WorkspaceLayout>
</GenericLayout>
