---

---

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astral</title>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <link rel="icon" href="/img/IconMeshed.svg" type="image/x-icon" />
</head>

<body>
    <slot />
</body>

</html>