---
import "../styles/global.css";
import Prefetch from "@julian_cataldo/astro-prefetch/Prefetch.astro";

const error = new URL(Astro.request.url).searchParams.get("error");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astral</title>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <link rel="icon" href="/img/IconMeshed.svg" type="image/x-icon" />

    <Prefetch max={8} />
  </head>

  <body class="bg-white dark:bg-black">
    <noscript>
      <p
        class="absolute z-50 w-full p-3 font-bold text-center text-black bg-amber-500"
      >
        Javascript appears to be disabled. While we tried to create the best
        experience for you, we can't guarantee a smooth experience.
      </p>
    </noscript>
    {error && (
      <div class="absolute z-50 w-full p-3 font-bold text-center text-black bg-red-400">
        An error occured: {error}
      </div>
    )}
    <slot></slot>
  </body>
</html>
