---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astral</title>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <link rel="icon" href="/img/IconMeshed.svg" type="image/x-icon" />

    <script src="https://unpkg.com/swup@latest/dist/swup.min.js">

    </script>

    <script
      src="https://unpkg.com/@swup/a11y-plugin@2.0.0/dist/SwupA11yPlugin.min.js"
    >

    </script>

    <script
      src="https://unpkg.com/@swup/head-plugin@1.2.0/dist/SwupHeadPlugin.min.js"
    >

    </script>

    <script
      src="https://unpkg.com/@swup/fade-theme@1.0.5/dist/SwupFadeTheme.min.js"
    >

    </script>

    <script
      src="https://unpkg.com/@swup/preload-plugin@1.0.3/dist/SwupPreloadPlugin.min.js"
    >

    </script>

    <script src="https://unpkg.com/@swup/preload-plugin@1.0.3/lib/index.js">

    </script>

    <script>
      const swup = new Swup({
        plugins: [
          new SwupA11yPlugin(),
          new SwupHeadPlugin(),
          new SwupFadeTheme(),
          new SwupPreloadPlugin(),
        ],
      });
    </script>
  </head>

  <body>
    <noscript>
      <p
        class="absolute z-50 w-full p-3 font-bold text-center text-black bg-amber-500"
      >
        Javascript appears to be disabled. While we tried to create the best
        experience for you, we can't guarantee a smooth experience.
      </p>
    </noscript>
    <slot></slot>
  </body>
</html>
