---

---

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astral</title>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <link rel="icon" href="/img/IconMeshed.svg" type="image/x-icon" />
</head>

<body>
    <noscript>
        <p class="absolute z-50 w-full p-3 font-bold text-center text-black bg-amber-500">
            Javascript appears to be disabled. While we tried to create the best experience for you, we can't guarantee
            a smooth experience.
        </p>
    </noscript>
    <slot />
</body>

</html>