---
import { XIcon } from "@heroicons/react/solid/esm/index.js";

const { id, title, Icon, type } = Astro.props;
---

<style is:global>
  .tooltip {
    @apply invisible absolute;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }
</style>

<style lang="scss" is:global>
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
    &.light {
      background: rgba(255, 255, 255, 0.5);
    }
    .cancel {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: default;
    }
    &:target {
      visibility: visible;
      opacity: 1;
    }
  }

  .popup {
    margin: 75px auto;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
    .light & {
      border-color: #aaa;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    }
    .close {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 20px;
      right: 20px;
      opacity: 0.8;
      transition: all 200ms;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        opacity: 1;
      }
    }
  }
</style>

<div id={id} class="overlay">
  <a class="cancel" href="#" data-turbolinks="false"></a>
  <div
    class="grid items-center w-full max-w-lg bg-white rounded-md popup dark:bg-black-300"
  >
    <div>
      {Icon && (
        <div
          class:list={[
            "flex items-center justify-center w-12 h-12 mx-auto rounded-full",
            { "bg-green-100": type === "success" },
            { "bg-amber-100": type === "warn" },
            { "bg-red-100": type === "danger" },
          ]}
        >
          <Icon
            className={`w-6 h-6 ${type === "success" && "text-green-500"} ${
              type === "warn" && "text-amber-500"
            } ${type === "danger" && "text-red-500"}`}
          />
        </div>
      )}
      <div class="mt-3 text-center sm:mt-5">
        <h2 class="mb-2 text-xl font-bold">{title}</h2>
        <a class="close" href="#" data-turbolinks="false">
          <XIcon className="w-5 h-5" />
        </a>
        <div class="w-full overflow-auto max-h-[600px]">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</div>
