---
const { checked, name } = Astro.props;
---

<label
  for={`switch-${name}`}
  class="relative align-middle h-min cursor-pointer"
>
  <input
    type="checkbox"
    id={`switch-${name}`}
    name={name}
    hidden
    class="hidden peer"
    checked={checked}
  />
  <span
    class="peer-checked:bg-indigo-600 bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    role="switch"
    tabindex={0}
    aria-checked="true"
  >
  </span>
  <span class="sr-only">Use setting</span>
  <span
    aria-hidden="true"
    class="peer-checked:translate-x-5 translate-x-0 absolute left-0.5 top-0.5 pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"
  >
  </span>
</label>
